###################
# LLM Provider
###################

OPENAI_API_BASE=http://172.28.160.1:8080/v1
OPENAI_API_KEY=local

LLM_PROVIDER=custom
LLM_NAME=llama.cpp
LLM_MODEL=gemma-4-12B-it-qat-UD-Q4_K_XL

###################
# Hermes
###################

TZ=Europe/Rome
HERMES_UID=1000
HERMES_GID=1000

###################
# Telegram
###################

TELEGRAM_BOT_TOKEN=1234567890:AAExampleBotToken1234567890abcdef
TELEGRAM_ALLOWED_USERS=123456789,987654321